.wrapper{
    border: 30px solid green;
    background-color: darkgreen;
    height:100%
}

.title-wrapper{
    background-image: url("./assets/images/koi-tengue.jpg");
    position: static;
    margin: 10px;
    border: solid black;
    padding: 10% solid;
    text-align: center;
}

.title{
    font-family: 'Ma Shan Zheng', cursive;
    font-size: xx-large;
    font-weight: heavy;
    margin: 10px;
    padding: 10px;
}

.album{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    border: 2px solid green;
    Margin: 10px;
    padding: 10px
    
}

.image-wrapper{
    background-image: url("./assets/images/shinto-tengue-med.jpg");
    display: flex;
    justify-content: space-evenly;
    border: 2px solid black;
    margin: 15px;
    height: 400px;
    width: 40%;
    min-width: 300px;
}

#img1{
    max-height: 100%;
    max-width: 100%;
}

#img2{
    max-height: 100%;
    max-width: 100%;
}

#img3{
    max-height: 100%;
    max-width: 100%;
}

#img4{
    max-height: 100%;
    max-width: 100%;
}
